<h1>Kezdőlap</h1>

<h3 *ngIf="msg != ''" style="color: {{color}}">{{msg}}</h3>

<i *ngIf="readLocalStorageValue('role') == 'admin'">A szerepköröd: Admin</i>
<i *ngIf="readLocalStorageValue('role') == 'user'">A szerepköröd: Felhasználó</i>

<br>

<table class=buttons>
    <tr *ngIf="readLocalStorageValue('role') == 'admin'">
       <td><button type="button" (click)="viewQuestions()">Kérdések listázása és törlése</button></td>
    </tr>
    <tr *ngIf="readLocalStorageValue('role') == 'admin'">
        <td><button type="button" (click)="addQuestion()">Új kérdés hozzáadása</button></td>
    </tr>

    <tr *ngIf="readLocalStorageValue('role') == 'user'">
        <td><button type="button" (click)="solveQuiz()">Kvíz kitöltés</button></td>
    </tr>
    <tr>
        <td><button type="button" (click)="topScorers()">Top lista</button></td>
    </tr>
    <tr>
        <td><button type="button" (click)="navigateBack()">Kijelentkezés</button></td>
    </tr>
</table>
